name: Docker Image CI

on:
  release:
    types:
      - published
  
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches:
      - master

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    -
      name: Get Docker Image Tag version from Git tag
      id: docker-tags
      run: |
        TAG=$(echo "$GITHUB_REF" | cut -d '/' -f3 | sed -e 's/^v//g')
        if [ "${TAG}" = "master" ];
        then
          TAG="latest";
        fi
        echo "tags=\"ghcr.io/traeger-gmbh/codabix:${TAG}\"\$'\\n'\"traeger/codabix:${TAG}\"" >> $GITHUB_OUTPUT
    
    -
      name: Set up QEMU
      uses: docker/setup-qemu-action@master
      with:
          platforms: linux/amd64,linux/arm64/v8,linux/arm/v7

    -
      name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@master

    -
      name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        
    -
      name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ secrets.PACKAGES_GITHUB_USER }}
        password: ${{ secrets.PACKAGES_GITHUB_TOKEN }}

    -
      name: Build
      uses: docker/build-push-action@v6
      with:
        builder: ${{ steps.buildx.outputs.name }}
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm64/v8,linux/arm/v7
        push: true
        tags: ${{ steps.docker-tags.outputs.tags }}
